.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-data-table{
  border-collapse: collapse;
  border: 1px solid black;

}
.App-div{
  border-collapse: collapse;
  border: 1px solid black;
}
.App-col{
  text-align: right;
}

.App-Good{
  background-color: #00e600;
}

.App-Sat{
  background-color: #009900;
}
.App-Mod{
  background-color: #ffff66;
}
.App-Poor{
  background-color: #ff8c00;
}
.App-VP{
  background-color: #e60000;
}
.App-Sev{
  background-color: #990000;
}

.App-Table-Size{
  height: 700px;
  width: 500px;
}
.App-Sp-Left{
  margin: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

